.container {
    width: 80%;
    margin: auto;
}

h4 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: #ba005c;
    margin-top: 2rem;
}

.demo-button-container {
    padding-bottom: 1rem;
    display: flex;
    justify-content: end;
}

.mat-mdc-button:not(:disabled).accent {
    color: #ff5540;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}